.button-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-fact {
    background-image: url('../../img/press.gif');
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.button-fact:hover {
    border: 2px solid #ccc;
}

.button-fact.disabled {
    cursor: not-allowed;
    opacity: 0.3;
    transition: opacity 0.6s ease;
}

.button-fact.disabled:hover {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
