.modal {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -110%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(2);
        color:  black;
    }
    to {
        transform: scale(3);
        color: red;
    }
}

.modal-content {
    text-align: center;
}

.loading {
    position: absolute;
    background-image: url('../../img/loading.gif');
    background-size: contain;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.85;
}

.error {
    text-align: center;
    color: red;
}

.lostdata {
    text-align: center;
    color: gray;
}
