.modal {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -110%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.close {
    display: inline-block;
    line-height: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(2);
        color:  black;
    }
    to {
        transform: scale(3);
        color: red;
    }
}

.modal-content {
    text-align: center;
}

.loading {
    position: absolute;
    background-image: url('../../img/loading.gif');
    background-size: contain;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.85;
}

.error,
.lost-data {
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.error-button,
.lost-data--button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-button:hover,
.lost-data--button:hover {
    background-color: #ff4757;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.error-button:active,
.lost-data--button:active {
    transform: scale(0.95);
}
